{%load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Medidream</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="./main.css">
    <style>
        html,
        body {
          width: 100%;
          height: 100%;
        }
        .container {
          width: 100%;
          height: 100%;

        }
      </style>
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
     <style type = "text/css">
        .jumbotron{
            background-image: url("#") ;
            background-size: max;
            color: black;
        }
    </style> 
    <nav class="navbar" style="background-color: white;" >
        <div class="container-fluid">
            <div class =" navbar-header">
            <a class = "navbar-brand" href="index.html" >MediDream</a>
            </div>               
                <ul class="nav nav-tabs"> <!--네비 바 스타일-->
                    <ul class="nav justify-content-end"> <!--네비 바 오른쪽으로 가게 하는 거-->
                        <li class="nav-item">
                          <a class="nav-link active" aria-current="page" href="#">소개</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="https://www.health.kr/">약학 정보원</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="https://map.seoul.go.kr/smgis2/short/6NStb">폐의약품 수거함</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://ncv.kdca.go.kr/">질병관리청</a>
                        </li>
                    </ul>
                </ul>
            </div>
        </div>
    </nav>
    <hr>
    <br>
    <section class="jumbotron">
      <div class="container">
          <div class="row text-center">
              <h1>MediDream</h1>
              <p>메디드림에 방문해주셔서 감사합니다</p>
              <div class ="text-center"><a class ="btn btn-success" href = "{%url 'login' %}" role ="button">로그인</a>
                <a class ="btn btn-outline-success" href = "{%url 'signup' %}" role ="button">회원가입</a></div>
          </div>
      </div>
  </section>
            <br>
            <hr>
        </div>
                <div class="container">
                  <div class="row">
                    <div class="col-4">
                      <div class="card">
                        <div class="card-header">약학정보원</div>
                        <img src="#" class="card-img-top" alt="...">
                        <div class="card-body">
                          <div class="d-grid gap-2 col-6 mx-auto">
                          <a href="https://www.health.kr/" class="btn btn-success">바로가기</a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-4"> 
                      <div class="card">
                        <div class="card-header">질병관리청</div>
                        <img src="#" class="card-img-top" alt="...">
                        <div class="card-body">
                          <div class="d-grid gap-2 col-6 mx-auto">
                          <a href="https://ncv.kdca.go.kr/"  class="btn btn-success">바로가기</a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-4">
                      <div class="card">
                        <div class="card-header">폐의약품 처리 장소</div>
                        <img src= "#" class="card-img-top" alt="...">
                        <div class="card-body">
                          <div class="d-grid gap-2 col-6 mx-auto">
                          <a href="https://www.health.kr/" class="btn btn-success">바로가기</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                  <h6>참고사항</h6>
                  <p>이 사이트는 참고용 입니다. 모든 약의 정보는 약사와 상의하시기 바랍니다</p>    
        <hr>
  
    <!--푸터 시작-->
    <footer style=" background-color: green; color: black">
    <div class = "container">
        <br>
        <div class = "row">
            <div class ="col-sm-12" style="text-align: center;"><h6>Copyright &copy; 2022</h6>이약이조 <a href="https://github.com/DotG-King/mediDream" class="link-primary">Git 바로가기</a></div>
            <div class ="col-sm-12" style="text-align: center;" ><p>이 사이트는 이약이조의 프로젝트 사이트 입니다.</p></div>
        </div>
    </div> 
</footer>
</body>
</html>