{% load static %}
{% block contents %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name = "viewport" content="width = device=width", initial-scale = "1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Medidream</title>
    <style>
        #wrap {
            display: grid;
            place-items: center;
            min-height: 100vh;
        }</style>
</head>
<body>
    <div id="wrap">
        <div class="center">                    
                    {% block content %}
                    {% endblock %}
        </div>
    <style type="text/css">
        .jumbotron {
            text-shadow: white 0.2em 0.2em 0.2em;
            color: green;
        }
    </style>
<div class = "jumbotron">
    <div class="container">
        <div class = "row">
                <div class="col-12 text-center">
                    <h3>Medidream 로그인</h>
                <br></br>
                </div>  
                <div class="col-12 text-center">      
                        {{error}}
                </div>
<div class="container">
    <div class="row mt-5">
        <div class="col-12 text-center">
            <div class="col-12"> <!--id길이-->
                <form method="POST", action="." >
                    {% csrf_token %}
                    <div class="form-group">                      
                        <label for="username"  class="form-label">ID</label>
                        <input type="text"  class="form-control" id="username" placeholder="사용자 이름" name="username">
                    
                                <div class="form-group">
                                <label for="password" class="form-label">password</label>
                                <input type="password" class="form-control" id="password" placeholder="비밀번호" name="password">
                                </div>
                        <button type="submit" class="btn btn-success">login</button>
                        <a href = "{%url 'signup' %}"> <button type="button" class="btn btn-outline-success">signup</button> </a>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>
{% endblock %}