{% block content %}
<div class="container">
    <h3>회원가입</h>

    <form method="POST" action="{%url 'signup'%}">
        {% csrf_token %}
            아이디:<br>
            <input name="username"type="text">
            <br>
            비밀번호:
            <br>
            <input name="password1" type="password">
            비밀번호 확인:
            <br>
            <input name="password2" type="password">
            <br>
            <input type="submit" class="btn btn=primary" value="회원가입 하기">
        </form>
    </div> 
    
    {% endblock %}