{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Medidream</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        <style>
            #wrap {
                display: grid;
                place-items: center;
                min-height: 100vh;
            }</style>
        </head>

    <body>
        <div id="wrap">
        <div class="center">
                             
                    {% block content %}
                    {% endblock %}

        </div>
        <div>
            <a href="{% url 'list' %}">
                <button class="btn btn-success">이전 검색약 조회</button>
            </a>
            <br>
            <br>
            {% if request.user.is_authenticated %}
                <p>{{ request.user.username }}님 접속중! <a href="/logout">로그아웃</a></p>
            {% else %}
                <p>User is not logged in :(</p>
            {% endif %}    
        </div>

    </div>
    </body>

</html>