{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>임시 페이지</title>
    </head>

    <body>
        <h1>로그인 성공 -> 업로드 페이지</h1>
        <div id="header">검색 기록 창으로 가는 버튼이 들어갈 div 태그
            <a href="{% url 'list' %}">
                <button><h1>검색기록</h1></button>
            </a>
        </div>

        <h1>테스트 인덱스 페이지</h1>
        {% block content %}
        {% endblock %}

        <br>
        <br>
        {% if request.user.is_authenticated %}
            <p>{{ request.user.username }}님 접속중!</p>
        {% else %}
            <p>User is not logged in :(</p>
        {% endif %}
        <div>
            <a href="/list">이전 검색약 조회</a>
            <a href="/logout">로그아웃</a>
        </div>

    </body>

</html>