{% extends 'search/index.html' %}
{%load static %}

{% block content %}

<div class="card text-center" style="width: 20rem;">
    <img src="{% static '/images/free-icon-pill-2197067.png' %}" class="card-img-top" alt="...">        
    <div class="card-body">
        <h4 class="card-title">알약 사진 업로드</h4>
        <br>
        <p class="card-text">
            1. 알약의 각인 글씨가 보이도록 촬영<br>
            2. 사진 업로드 버튼을 사진 업로드<br>
            3. 업로드 완료 후 알약 확인 버튼 클릭<br>
        </p>
        <br>
        <div>
            <form method="POST" enctype="multipart/form-data" style="margin: auto; width: 220px;">
                {% csrf_token %}
                {{ form }}
                <br><br>
                <button class="btn btn-primary" type="submit">업로드</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}