<!DOCTYPE html>
<html>
<head>
    <title>user history test</title>
    <style>
        #header {
            width:500px; margin:auto;
            background:red;
        }
    </style>
</head>
{% if user.is_authenticated %}
<body>
    <p>
        <nav>
            <div id="header">검색 창으로 가는 버튼이 들어갈 div 태그
                <a href="{% url 'index' %}">
                    <button><h1>검색 창</h1></button>
                </a>
            </div>
        </nav>
    </p>
    <p>
        <section>
            <!-- <div>검색 기록 표?가 들어갈 div 태그</div>
            <div>아래의 내용이 탬플릿 언어 for문으로 반복되서 들어갈것</div> -->
            {% for item in test%}
                <div>
                    <span>User = {{item.mediDream_id.username}}</span>
                    <span><a href="/list/info/{{item.pill.pill_name}}">Pill = {{item.pill.pill_name}}</a></span>
                    <span>Date = {{item.date}}</span>
                </div>
            {% endfor %}
        </section>
    </p>
    <p>
        <footer>
            <div>
                <a href="/logout">로그아웃</a>
            </div>
        </footer>
    </p>
</body>
{% else %}
<script type="text/javascript">
    alert('먼저 로그인을 해주세요.');
    window.location.href = '{% url "login" %}';
</script>
{% endif %}
</html>