<!DOCTYPE html>
<html>
<head>
    <title>user history test</title>
    <style>
        #header {
            width:800px; margin:auto;
            background:red;
        }
    </style>
</head>
<body>
    <p>
        <nav>
            <div id="header">검색 창으로 가는 버튼이 들어갈 div 태그
                <button>
                    <h1>검색 창</h1>
                </button>
            </div>
        </nav>
    </p>
    <p>
        <section>
            <div>검색 기록 표?가 들어갈 div 태그</div>
            <div>아래의 내용이 탬플릿 언어 for문으로 반복되서 들어갈것</div>
            <div>
                <span><img></span>
                <span>No.</span>
                <span>Name</span>
                <span>Date</span>
            </div>
        </section>
    </p>
    <p>
        <footer>
            <div>
                <a href="logout">로그아웃</a>
            </div>
        </footer>
    </p>
</body>
</html>