<!DOCTYPE html>
<html>
<head>
    <title>pill info test</title>
</head>
<body>
    <div>약 정보 페이지 테스트</div>
    <div>
        {% for item in test %}
        <div>
        <pre>알약 이름 : {{ item.pill_name }}</pre>
        <p></p>
        <pre>알약 효능 : {{ item.pill_effect }}</pre>
        <p></p>
        <pre>알약 용법 : {{ item.pill_usage }}</pre>
        <p></p>
        <pre>알약 주의사항 : {{ item.pill_caution }}</pre>
        <p></p>
        </div>
        <div>
        <pre>알약 색깔 : {{ item.pill_color }}</pre>
        <p></p>
        <pre>알약 모양 : {{ item.pill_shape }}</pre>
        <p></p>
        <pre>알약 각인 : {{ item.pill_engrave }}</pre>
        </div>
        {% endfor %}
    </div>
</body>
</html>